<template>
  <div class="current-time">
    {{ currentTime }}
  </div>
</template>

<script>
export default {
  props: {
    record: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      interval: null,
      currentTime: null,
    }
  },
  watch: {
    record: {
      handler(newValue, oldValue) {
        this.$emit('time', new Date())
      },
    },
  },
  beforeDestroy() {
    clearInterval(this.interval)
  },
  created() {
    this.interval = setInterval(() => {
      this.currentTime = Intl.DateTimeFormat(navigator.language, {
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
      }).format()
    }, 1000)
  },
}
</script>
