<template>
  <div class="date-picker">
    <label class="label" for="datepicker">Arbeitstag</label>
    <input
      id="workday"
      type="date"
      value="yyyy-mm-dd"
      name="datepicker"
      min="2022-01-01"
      max="2023-12-31"
      @click="stopDateChange"
      @keydown="stopDateChange"
    />
    <div v-if="errorMessage" class="error">Bitte Tag auswählen!</div>
  </div>
</template>

<script>
export default {
  props: {
    errorMessage: {
      type: Boolean,
      default: false,
    },
    record: {
      type: Boolean,
      required: true,
      default: null,
    },
  },

  methods: {
    stopDateChange(e) {
      if (this.record) {
        e.preventDefault()
      }
    },
  },
}
</script>

<style scoped>
.date-picker {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 4px;
}

input {
  margin-right: 8px;
}

.error {
  color: red;
}
</style>
