<template>
  <div class="record-button">
    <button class="button" type="button" @click="toggleRecord">
      Start/Stop
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    toggleRecord() {
      this.$emit('toggle')
    },
  },
}
</script>

<style scoped>
.button {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #245daec6;
  background-color: #4c82cec6;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #406ba7c6;
}
</style>
