<template>
  <div class="record-circle">
    <div class="circle" :class="{ 'is-green': isRecordActivated }"></div>
    <div>{{ label }}</div>
  </div>
</template>

<script>
export default {
  props: {
    record: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    isRecordActivated() {
      return this.record
    },

    label() {
      if (this.record) {
        return 'Arbeitszeiterfassung läuft'
      }
      return 'Arbeitszeiterfassung ist gestoppt'
    },
  },
}
</script>

<style scoped>
.record-circle {
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 24px;
  background-color: red;
  margin-right: 4px;
}

.is-green {
  background-color: chartreuse;
}
</style>
