<template>
  <div class="home-page">
    <div class="settings">
      <div class="time-record-wrapper">
        <CurrentTime
          :record="record"
          class="current-time"
          @time="saveTimeStamp"
        />

        <RecordCircle :record="record" />
      </div>
      <div class="button-date-wrapper">
        <RecordButton class="record-button" @toggle="toggleRecord" />

        <DatePicker
          ref="workday"
          :error-message="errorMessage"
          :record="record"
        />
      </div>
    </div>

    <div class="explanation">
      Der Start- und Endpunkt können mittels Click bearbeitet werden. Mit
      Drücken der Entertaste wird der Eintrag abgespeichert. Das Format muss
      genauso bleiben wie angezeigt, sonst aktualisiert das Datum nicht. Während
      ein Record läuft, können keine Tabelleneinträge gelöscht werden
    </div>

    <div class="worktime-table">
      <table>
        <tbody>
          <tr class="header">
            <td>Tag</td>
            <td>Start</td>
            <td>Ende</td>
            <td>Dauer</td>
          </tr>
          <tr v-for="(recordedWorktime, i) in sortedRecordedWorktimes" :key="i">
            <td>
              {{ formattedDay(recordedWorktime.day) }}
            </td>
            <td
              :ref="`startTime-${i}`"
              contenteditable
              @keydown="handleEnter($event, i, 'start')"
            >
              {{ formattedTimestamp(recordedWorktime.start) }}
            </td>
            <td
              :ref="`endTime-${i}`"
              contenteditable
              @keydown="handleEnter($event, i, 'end')"
            >
              {{ formattedTimestamp(recordedWorktime.end) }}
            </td>
            <td>
              {{ formattedTimePeriod(recordedWorktime.period) }}
            </td>
            <td class="delete-button">
              <div @click="deleteElement(i)">Löschen</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      record: false,
      startTime: '-',
      endTime: '-',
      recordedWorktimes: [],
      errorMessage: false,
      timeRegex: /^([0-1]?[0-9]|2[0-3]):[0-5][0-9]:[0-9][0-99]$/,
      weekdayMapper: {
        0: 'Mo',
        1: 'Di',
        2: 'Mi',
        3: 'Do',
        4: 'Fr',
        5: 'Sa',
        6: 'So',
      },
      workdaysHashTable: {},
    }
  },

  computed: {
    sortedRecordedWorktimes() {
      return this.recordedWorktimes.slice().sort((a, b) => {
        return a.day - b.day
      })
    },
  },

  methods: {
    toggleRecord() {
      if (this.errorMessage) {
        this.errorMessage = false
      }
      this.record = !this.record
    },
    saveTimeStamp(time) {
      if (this.$refs.workday.$el.children.workday.value === '') {
        this.record = false
        this.errorMessage = true
        return
      }

      const pickedDate =
        this.$refs.workday.$el.children.workday.value.split('-')

      time.setFullYear(parseInt(pickedDate[0]))
      time.setMonth(parseInt(pickedDate[1] - 1))
      time.setDate(parseInt(pickedDate[2]))

      if (this.record) {
        this.startTime = time
      } else {
        this.endTime = time
      }
      this.saveAndClear()
    },

    saveAndClear() {
      const date = new Date(this.$refs.workday.$el.children.workday.value)

      if (this.record) {
        const worktimeObject = {
          day: date,
          start: this.startTime,
          end: '-',
          period: '-',
        }
        this.recordedWorktimes.push(worktimeObject)
      }
      if (!this.record) {
        const recordedObject = this.recordedWorktimes.find(
          (recordedWorktime) => {
            return recordedWorktime.start === this.startTime
          }
        )
        recordedObject.end = this.endTime
        recordedObject.period =
          (this.endTime.getTime() - this.startTime.getTime()) / 1000
      }
    },

    formattedDay(day) {
      const y = day.getFullYear()
      const m = day.getMonth()
      const d = day.getDate()
      const weekday = this.weekdayMapper[day.getDay()]
      return `${weekday}, ${d}.${m}.${y}`
    },

    formattedTimestamp(timestamp) {
      if (timestamp === '-') return timestamp

      let h = timestamp.getHours()
      let min = timestamp.getMinutes()
      let sec = timestamp.getSeconds()

      if (h < 10) {
        h = `0${h}`
      }
      if (min < 10) {
        min = `0${min}`
      }
      if (sec < 10) {
        sec = `0${sec}`
      }

      return `${h}:${min}:${sec}`
    },

    formattedTimePeriod(period) {
      if (period === '-') return period

      const h = Math.floor(period / 3600)
      const min = Math.floor((period - h * 3600) / 60)
      const sec = Math.floor(period - h * 3600 - min * 60)

      return `${h}h ${min}min ${sec}s`
    },

    handleEnter(e, index, moment) {
      if (e.key === 'Enter') {
        e.preventDefault()
        this.$refs[`${moment}Time-${index}`][0].blur()
        const el = this.$refs[`${moment}Time-${index}`][0].innerText

        if (!this.timeRegex.test(el)) {
          this.$refs[`${moment}Time-${index}`][0].innerText =
            this.formattedTimestamp(this.sortedRecordedWorktimes[index][moment])
        } else {
          this.$refs[`${moment}Time-${index}`][0].innerText = el
          this.updateRecordedWorkTimes(el, index, moment)
        }
      }
    },
    updateRecordedWorkTimes(el, index, moment) {
      el = el.split(':')

      this.sortedRecordedWorktimes[index][moment].setHours(el[0])
      this.sortedRecordedWorktimes[index][moment].setMinutes(el[1])
      this.sortedRecordedWorktimes[index][moment].setSeconds(el[2])

      this.sortedRecordedWorktimes[index].period =
        (this.sortedRecordedWorktimes[index].end.getTime() -
          this.sortedRecordedWorktimes[index].start.getTime()) /
        1000
    },

    deleteElement(index) {
      if (!this.record) {
        const indexOfOriginalArray = this.recordedWorktimes.indexOf(
          this.recordedWorktimes.find((el) => {
            return el.day === this.sortedRecordedWorktimes[index].day
          })
        )
        this.recordedWorktimes.splice(indexOfOriginalArray, 1)
      }
    },
  },
}
</script>

<style scoped>
.home-page {
  width: 100%;
  max-width: 960px;
}

.time-record-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.button-date-wrapper {
  display: flex;
  align-items: center;
}

.current-time {
  margin-right: 24px;
}

.record-button {
  margin-right: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 25%;
  padding: 15px 15px 0 0;
  margin-bottom: 4px;
}

.hide {
  visibility: hidden;
}

.header {
  font-weight: bold;
}

.explanation {
  margin: 24px 0;
  line-height: 24px;
  font-size: 18px;
}

.delete-button div {
  color: white;
  background-color: lightcoral;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
</style>
